
@media only screen and (max-width: 1199px) {
  .main-nav-outer .container .main-nav li {display: none;}
  .main-nav-outer a.res-nav_click {
    float: right;
    display: block;
  }

  .main-nav-outer.responsive .container .main-nav {position: relative;}
  .main-nav-outer.responsive .container a.res-nav_click {
    position: absolute;
    right: 15px;
    top: 10px;
  }
	
	.main-nav-outer.responsive .container .main-nav li {
    float: none;
    display: block;
    text-align: left;
	}
	
	.main-nav-outer.responsive .container .main-nav .small-logo {
    display: none;
	}
	
	.main-nav-outer {
		position: relative;
	}

	#topicon {
		display: block;
	}
}